APP_ENV=local
APP_NAME=susumonitor
SERVER_PORT=18080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=susumonitor
DB_USER=susumonitor
DB_PASSWORD=732682
DB_CHARSET=utf8mb4
DB_TIMEZONE=Asia/Shanghai

JWT_SECRET=CHANGE_ME_LOCAL_JWT_SECRET
JWT_EXPIRE_HOURS=24

AES_GCM_KEY=CHANGE_ME_LOCAL_AES_GCM_KEY
AGENT_REGISTER_KEY=CHANGE_ME_LOCAL_AGENT_REGISTER_KEY

SSH_CONNECT_TIMEOUT_SECONDS=10
SSH_IDLE_TIMEOUT_MINUTES=20

METRICS_RETENTION_DAYS=10
METRICS_CLEANUP_CRON=0 0 3 * * ?
